*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Css */

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

header{
    height: 80px;
    background-color: var(--color-blue);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}

h2{
    font-size: 2.5rem;
}

:root{
    --color-blue: rgb(12,132,251);
    --background-color-card:rgb(181,221,253);
    --background-secondary: rgb(151,146,228);
    --background-terz: rgb(255,255,255);
    --background-foot:rgb(51,51,51);
    --color-black:black;
    --color-text-yellow:rgb(249,193,95);
    --color-text-lightgrey:rgb(144,144,144);
    --color-text-grey:rgb(108,132,153);
}

.container{
    margin: auto;
    padding: 0px 1rem;
}

#intro{
    padding-top: 6rem;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#intro .card{
    background-color: var(--background-color-card);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2rem;
}

#strategic, #benefit, #information{
    background-color: var(--background-secondary);
    margin-top: 4rem;
    padding: 3rem 0px;
}

#strategic .columns{
    padding: 1rem 0px;
}

.col{
    margin: 1rem 0px;
}

.text-align{
    text-align: center;
}

#testimonial .card{
    background-color: var(--background-secondary);
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

#testimonial{
    margin-top: 4rem;
}

#benefit .card{
    background-color: var(--background-terz);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem;
}

footer{
    background-color: var(--background-foot);
    padding: 3rem 0px;
}

header .icon{
    font-weight: bold;
    font-size: 2.5rem;
}

.text-white{
    color: var(--background-terz);
}

.text-black{
    color: var(--color-black);
}

nav{
    display: none;
}

a{
    text-decoration: none;
}

header li{
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
}

.button{
    border-radius: 1rem;
    padding: 5px 10px;
    display: inline-block;
}

.bt-white{
    background-color: var(--background-terz);
}

.bt-blue{
    background-color: var(--color-blue);
}

.bt-big{
    padding: 0.5rem 2.5rem;
}

p{
    line-height: 2rem;
    margin: 2rem 0px;
}

img{
    width: 100%;
    display: block;
}

#intro img{
    padding:2rem 2rem 0px 2rem ;
}

#intro .card:first-child{
    padding: 0;
}

.first-card-text{
    padding: 1rem;
}

#intro i{
    color: var(--color-blue);
    font-size: 6rem;
}

#intro h3{
    color: var(--color-blue);
    margin: 2rem 0;
}

#strategic .img-plan1{
    margin-bottom: 6rem;
}

.background-col{
    background-color: var(--background-terz);
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 3rem;
}

#strategic .columns h2, #testimonial h2, #information h2{
    margin: 2rem 0px;
}

.bt-violet{
    background-color: var(--background-secondary);
}

.text-violet{
    color: var(--background-secondary);
}

#testimonial img{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
}

#about-us{
    margin: 5rem 0;
}

#about-us img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#benefit .cards{
    margin-top: 2.5rem;
}

#benefit .card{
    padding: 2rem;
}

.number{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#about-us .img{
    position: relative;
}

#about-us .position{
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}

#about-us .position{
    position: absolute;
    top: 0;
    left: 25%;
}

.margin-right{
    margin-right: 0.5rem;
}

.opacity{
    opacity: 0.3;
}

#information .yellow-text{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color-text-yellow);
}

#information .bt-white{
    background-color: var(--background-terz);
    padding: 1.2rem 5rem;
    border-radius: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#information ul{
   display: flex;
   justify-content: center;
}

#information li{
    margin-left: 1.5rem;
}

.list{
    list-style: none;
}

footer p, ul{
    line-height: 1.2rem;
}

#information li:last-child, footer a{
    text-decoration: underline;
}

#intro .icon-apple{
    font-size: 1rem;
    color:var(--background-terz)
}

#benefit p{
    color: var(--color-text-lightgrey);
}

#intro p{
    color: var(--color-text-grey);
}

/* Responsive */

@media screen and (min-width:500px){
    .container{
        max-width: 470px ;
    }

    #testimonial .container{
        text-align: center;
    }    

}

@media screen and (min-width:768px){
    .container{
        max-width: 738px;
    }

    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #intro .card{
        width: calc(100% / 3 - 1rem);
    }

    #intro .card:first-child{
        width: calc((100% / 3 * 2) - 1rem);
    }

    #testimonial .card{
        display: flex;
    }

    #benefit .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #benefit .card{
        width: calc(100% / 2 - 1rem);
    }

    #about-us .columns{
        display: flex;
        justify-content: space-between;
    }
    
    #about-us .col{
        width: calc(100% / 2 - 1rem);
     }

     #intro img{
        padding-right: 10rem;
     }

     #testimonial img{
        margin-right: 1.5rem;
     }

     #testimonial .cards{
        text-align: left;
     }

     #about-us .col1{
        width: 70%;
        margin: 2rem 1rem;
    }
    
    #about-us .col2{
        width: 20%;
        margin: 2rem 1rem;
    }

    #about-us .position{
        position: absolute;
        top: 0;
        left: 70%;
    }
    
    footer .container, #information .container{
        max-width: 50%;
    }
}

@media screen and (min-width:992px){
    .container{
        max-width: 972px;
    }

    #intro .grow{
        display: flex;
        justify-content: space-between;
    }

    #strategic .columns{
        display: flex;
        justify-content: space-between;
    }

    #strategic .col{
        width: calc(100% / 2 - 1rem);
     }
    
     #benefit .card{
        width: calc(100%/ 3 - 1rem);
    }

    nav{
        display: block;
    }

    header .icon{
        display: none;
    }

    .background-col{
        align-self: flex-end;
        margin-left: 5rem;
    }

    .background-col img{
        width: 70%;
        margin: auto;
    }

    #about-us .position{
        position: absolute;
        top: 0;
        left: 50%;
    }

    #intro .img{
        padding: 0;
        align-self: flex-end;
        width: 50%;
    }

    .first-card-text{
        width: 50%;
    }

    #intro img{
        padding: 0;
        width: 100%;
        padding-right: 2rem;
    }
}

@media screen and (min-width:1200px) {
    .container{
        max-width: 1170px;
    }
}

